@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.stocks-form {
  align-items: center;
  .search-button-container {
    padding-left: 0 !important;
  }
}

.stock-results {
  display: inline-block
}